    <div class="row">
        <div class="card-body">

            <div class="card shadow">

                <form class="form-signin"  @submit.prevent="login">
                    <div class="text-center mb-4">
                        <!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
                        <h1 class="h3 mb-3 font-weight-normal">Sign in here</h1>
                    </div>

                    <div class="form-label-group">
                        <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" v-model="email" type="email">
                        <label for="inputEmail">Email address</label>
                    </div>

                    <div class="form-label-group">
                        <input id="inputPassword" class="form-control" placeholder="Password" required="" v-model="password" type="password">
                        <label for="inputPassword">Password</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input value="remember-me" type="checkbox"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
                </form>

        </div>
    </div>
    </div>